*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
       font-family: "Poppins", sans-serif;
       
}
header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(90deg,rgba(227, 198, 235, 0.3),rgba(116, 207, 243, 0.3));
    background-position: center;
    background-size:cover;
}
.icontop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 10px;
    font-size: 14px;
}
.icontop li{
display: inline-block;
 margin: 1px 1px;
}
.icontop a{
    text-decoration: none;
    color: #fff;
}

.toplinks{
    margin-left: 15rem;
}
.toplinks i{
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 3px;
    transition: .5s;
}
.toplinks i:hover{
    color: orangered;
    border: 1px solid orangered;
    border-radius: 50%;
}
.listanim {
    overflow: hidden; /* Hide overflow */
    margin-right: 20rem;
   
  }
  
  .scroll {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-center 20s linear infinite; /* Animation name changed */
    color: #fff;
  }
  
  .ri-circle-fill {
    color: #fff;
    margin: 0 10px;
    font-size: 7px;
  }
  
  @keyframes scroll-center {
    0% {
      transform: translateX(50%); /* Start in the middle */
    }
  
    100% {
      transform: translateX(-100%); /* End to the left of the container */
    }
  }
  
.language{
  margin-right: 15rem;
}
.language img{
     width: 15px;
     height: 15px;
}
.drop-down{
    display: none;
}
.drop-down-2{
    display: none;
}

.language ul li:hover .drop-down{
    display: block;
    position: absolute;
    background: #fff;
    box-shadow: .6px .3px .6px .2px #555;
    color: #000;
    margin-top: 10px;
    margin-left:-10px;
   height: 100px;
   width: 80px;
  
}
.language ul li:hover .drop-down ul{
   display: block;
   margin: 10px;
}

nav img{
   margin-left: 16rem;
   padding: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}
nav .nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    
}
.nav-bar ul li{
    list-style: none;
    margin: 20px;
    font-size: 15px;
    font-weight: 500;
    transition: .5s;
}
.nav-bar ul li:hover{
    color: orangered;
}
.nav-icon ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15rem;
}
.nav-icon ul li {
    list-style: none;
    margin: 5px;
    font-size: 24px;
    font-weight:500;
    transition: .5s;
}
.nav-icon ul li :hover{
color: orangered;
}

/* hero page */

.hero-img img{
    z-index: 1;
    width: 1920px;
    height: 870px;
}
.hero-text{
  position: absolute;
   margin-left: 70rem;
   top: 25rem;
}
.hero-text h1{
    font-size: 60px;
    font-weight: 500;
}
.hero-text button{
  padding: 15px 40px 15px 40px;
  border: 1px solid black;
  border-radius: 30px 30px;
  background: black;
  color: #fff;
  font-size: 16px;
  font-weight:500;
  margin: 20px;
}
.ri-arrow-right-s-line{
    margin: 8px;
}
 /* card */
 .catalog-page{
    margin: auto;
    width: 100%;
    background-color: #fff;
    padding-top: 20px;
      
 }

 .card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12rem;
    padding-right: 12rem;
   
}
.card-img{
    position: relative;
}
.card-img img{
    width:100%;
    height:auto;
    overflow: hidden;
    transition: transform 2s ease-in-out;
    border-radius: 40px;
    position: relative;
    padding: 15px;
}
.card-img img:hover{
  transform: scale(1.1);
  z-index: 2;
  border-radius: 40px;
    
}


.btn button{
    position: absolute;
    margin-top: -6rem;
    margin-left: 12rem;
    padding: 15px 30px ;
    background: #fff;
    border-radius: 30px 30px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #fff;
    z-index:3;
    transition: .5s;
    cursor: pointer;
    
}
  .arow i{
    border: .01px solid #d6cfcf;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
  }
  .card-img  button:hover{
          background-color:#000;
          color: #fff;
          border: 1px solid #000;
          
          
  }
 .ri-arrow-right-up-line{
  display: none;
  
 }
 .card-img  button:hover .ri-arrow-right-up-line{
  display: flex;
  color: #fff;
  float:right;
  font-size: 20px;
  padding-left: 5px;
  
 }

 /* best sellers */
 
.best-sellers{
  width: 100%;
  margin: auto;
  padding-top:6rem;
  background-color: #fff;
  text-align: center;
}
.best-sellers h1{
    
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}
.row{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 13rem;
    padding-right: 13rem;
   
}
.product-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin: 20px;
  text-align: left;
  
}
.product-col img{
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 1s ease;
}
.product-col img:hover{
  transform: scale(1.05);
  z-index: 2;
}


.product-col p{
 margin: 2px;
  display: inline;
}
.orange{
  color: orangered;
  margin-left: 10px;
  padding-left: 10px;
}
.gary{
  color: gray;
}
.product-col h4{
  margin-top: 16px;
  text-align: left;
  font-weight: 500;
  transition: .5s;
  padding: 10px;
}
.product-col h4:hover{
  color: orangered;
}

.row .arow i{
  border: 1px solid #d6cfcf;
  border-radius: 50%;
  
  font-size: 20px;
  position: absolute;
  margin-top: 15rem;
  margin-left: -3rem;
 
}
.left-arow{
  right:150px;
  transition: .5s;
}
.left-arow:hover{
  background-color: #000;
  color: #fff;
  border: 3px solid #000;
  border-radius: 50%;
}
.right-arow{
  color: gray;
  background-color: #d6cfcf;
}


.bs-card-discount p{
  position: absolute;
  margin-top: 1.5rem;
 margin-left: 2rem;
  background-color: rgb(243, 104, 104);
  border-radius: 10px;
  padding: 3px;
  color: #fff;
  z-index: 1;
  
}
.product-col i{
  font-size: 26px;
  transition: .5s;
  margin: 1px;
  border: 1px solid rgb(221, 223, 224);
  border-radius: 50%;
 
  
}
.product-col .ic1{
  color: olive;
  
}
.product-col .ic2{
  color: rgb(189, 189, 184);
}
.product-col .ic3{
  color: rgb(5, 5, 0);
}
.product-col .ic4{
  color: rgb(255, 255, 255);
}

.product-col i:hover{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}


.sold-out {
  position: relative;
  opacity: 0.5;
}

.sold-out-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 38px 25px ;

  border-radius: 50%;
  z-index: 1;
  text-transform: uppercase;
  font-size: 10px;
}
.purpal p{
  background-color: rgb(214, 115, 214);
}

/* Summer Sale */

.summer-sale{
  width: 100%;
  margin: auto;
  padding-top: 6rem;
  background-color: #fff;
}
.sm-img{
  margin-left: 15rem;
}
.sm-img img{
  
  position: relative;
}
.sm-text{
  position: absolute;
  margin-top: -20rem;
  margin-left: 20rem;
}
.sm-text p{
  font-weight: 500;
  font-size: 18px;
}
.sm-text h1{
  font-size: 80px;
  font-weight: 500;
}
.sm-text button{
  color: #000;
  background-color: #fff;
  border-radius: 30px 30px;
  padding: 15px 30px;
  margin: 25px;
  border: 1px solid #fff;
  font-weight: 500;
  transition: .5s;
}
.sm-text button:hover{
  background-color: rgba(255, 94, 88, 0.781);
  color: #fff;
  border: 1px solid rgba(255, 94, 88, 0.781);
  border-radius: 30px 30px;
}

/* categories */

.categories{
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: #fff;
  padding-top: 6rem;
}
.section ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
.section ul li{
  flex-basis: 6%;
  list-style: none;
  font-size: 20px;
}
span{
  border-bottom: 1px solid orangered;
  color: orangered;
}
.categories h1{
  font-size: 60px;
   font-weight: 500;
   padding: 3%;
}
.circle img{
  border-radius: 50%;
}
.circle p{
 margin-left: 5rem;
 transition: .5s;
}
.circle p:hover{
  color: orangered;
}

/* today's picks */

.ic5{
  color: brown;
}
.ic6{
  color: orange;
}
.ic7{
  color:violet ;
}
.ic8{
  color:skyblue ;
}
.ic9{
  color:green ;
}

/* Happy Coustomers
 */

 .author{
  border: .01px solid rgb(209, 205, 205);
  padding: 10px;
 }
 .vb h4{
   font-weight: 500;
   padding: 6px;
   margin-left: -13rem;
 }
.vb{
  display: flex;
  align-items: center;
  justify-content:center;
  color: #555;
  
}
.vb p{
  font-size: 12px;
  margin-top: 20px;
}
.vb i{
  font-size: 16px;
  border: none;
}
.star i{
 color: rgb(120, 167, 13);
 font-size: 16px;
 border: none;

}
.star{
  margin: 20px;
}
.author img{
border-radius: 50%;
height: 80px;
width: 80px;
margin-left: 5px;

padding: 10px;

}
.comment p{
  color: #555;
}
.comment{
  margin: 10px;
}
.author-face{
  display: flex;
  align-items:center;
  justify-content:left;
  
}
.author-face p{
  font-size: 14px;
}

hr {
  height: .01px;/* Adjust the height value as needed */
  
  color: #ffffff;
}
/* animation-2 */
.animation-2{
  width: 100%;
  margin: auto;
  padding:6rem;
  background-color: #fff;
}

.scroll B{
  color: #000;
  padding: 30PX;
  font-size: 40PX;
}


/* @gram */
.fecilities{
  margin: 40px 120px;
}
.last i{
  font-size: 40px;
  
  margin-left: 30px;
  padding: 10px;
}
.last h4{
  font-size: 20px;
}
.last p{
  margin-left: -20px;
  color: #555;
}

 /* Footer */

 .footer{
  width: 100%;
  margin: auto;
  background-color: #fff;
  
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 12rem;
  margin-right: 12rem;
  
  padding: 3rem;
}
.footer-logo img{
  width: 12%;
}
.footer-logo ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-logo ul li{
  list-style: none;

}
.footer-logo ul li a{
  text-decoration: none;
  color: #000;
  padding: 10px 15px;
  margin: 5px;
  font-size: 26px;
  border: 1px solid rgb(221, 223, 224);
  border-radius: 50%;
  transition: background-color 1s, color 0.3s;
 
}

.downlinks li a.facebook:hover {
  background-color: #1877f2;
  color: #fff;
  border: 1px solid #1877f2;
}

/* Instagram */
.downlinks li a.instagram:hover {
  background: radial-gradient(circle at 30% 107%, 
    #fdf497 0%, #fdf497 5%, 
    #fd5949 45%, #d6249f 60%, 
    #285AEB 90%);
  color: #fff;
  border: 1px solid #d6249f 60%;
}

/* LinkedIn */
.downlinks li a.linkedin:hover {
  background-color: #0077b5;
  color: #fff;
  border: 1px solid #0077b5;
}

/* Twitter/X */
.downlinks li a.twitter:hover {
  background-color: #000000;
  color: #fff;
  border: 1px solid #000000;
}
.contact-row{
  padding: 0;
  border: .01px solid #ebe8e8;
}

.contact{
  border-right: .01px solid #ebe8e8;
  padding-top: 3rem;
  padding-left: 9rem;
  padding-right: 6rem;
  margin-left:4rem ;
}
.contact h3{
  font-weight: 500;
  margin-top:-2rem;
  padding: 20px;
  font-size: 20px;
}
.contact p{
  font-size: 16px;
  padding: 10px;
  transition: .5s;
}
.contact p:hover{
  color: orangered;
}
.contact p i{
  border: 1px solid #d6cfcf;
  border-radius:50% ;
  padding: 5px;
  color: #535252;
  margin: 10px;
  transition: .5s;
}
.contact p i:hover{
  color: #fff;
  background: orangered;
  border-radius: none;
}
.contact a{
  color: #555;
  padding: 20px;
}
.subscription{
 margin-left: -4rem;
 margin-right: 3rem;
 
}
.subscription p{
  color: #555;
}
.subscription input{
  border: 1px solid #d6cfcf;
  z-index: -1;
  border-radius: 30px;
  padding: 20px;
  margin-top: 2rem;
  transition: .5s;
}
.subscription input:hover{
  border: 1px solid #000;
}
.about-resource{
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 17rem;
  
}
.about-resource p{
  transition: .5s;
}
.about-resource p:hover{
  color: orangered;
}

 .about{
  padding: 2rem;
  margin-top: -2rem;
 
}
.about h3{
  font-weight: 500;
  margin-top:-2rem;
  padding: 20px;
  font-size: 20px;
}
.about p{
  color: #555;
  padding: 6px;
  font-size: 16px;
}
 .resource{
  padding-top: 3rem;
  padding-left: 4rem;
 margin-right: 2rem;
}
.resource h3{
  font-weight: 500;
  margin-top:-2rem;
  padding: 20px;
  font-size: 20px;
}
.resource p{
  color: #555;
  margin-left: 2rem;
  padding: 5px;
  font-size: 16px;
}

/* main footer */

.main-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15rem;
  margin-right: 0rem;
  padding: 1.5rem 0;
}
.main-footer p{
  font-size: 14px;
}
.main-footer p b{
  font-weight: 500;
}
.paycards img{
  width: 5%;
}
.paycards{
 margin-left: 20rem;
}

































































